<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav>
        <div> 
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/">Home</a></li>
            <li><a routerLink="/aboutus" routerModuleActive="Active">AboutUs</a></li>
            <li><a routerLink="/contactus" routerModuleActive="Active">ContactUs</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label role="username">Username</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label role="email">EmailID</label>
          <input type="email" class="form-control">
        </div>
        <button class="btn btn-primary">Click on button</button>
      </form>
      
    </div>

    <!-- <div class="col-md-12">
      <router-outlet></router-outlet>
    </div> -->
  </div>
</div>